data/*
Geometry/bin/*
Geometry/obj/Debug/*
Geometry/obj/Release/TempPE/*
Geometry/obj/Release/*.cache
Geometry/obj/Release/*.txt
Geometry/obj/Release/*.cs
Geometry/.vs
GeometryTests/bin/*
GeometryTests/obj/*
GeometryTests/.vs
NetworkGraphs/bin/*
NetworkGraphs/obj/*
NetworkGraphs/.vs